*{
    font-family: sans-serif, Arial;
}

hr{
    margin: 2rem 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

div {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

button {
    display: block;
    margin: 1rem 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #041b33;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    padding: 0;
    justify-content: center;
}

ul li::after {
    content: ", ";
}

ul li:last-child::after {
    content: ""; /* Removes comma from last item */
}

.main-counter-display{
    border: 1px solid #041b33;
    border-radius: 5px;
    padding: 1rem;
    width: 10%;
}

.scoped,
.transient,
.singleton {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.scoped {
    background-color: #f9e79f;
    color: #856404;
}

.transient {
    background-color: #d4edda;
    color: #155724;
}

.singleton {
    background-color: #cce5ff;
    color: #004085;
}
